body {
    background: rgba(34, 15, 61, 0.993);
}

header {
    color: white;
    text-align: center;
    font: normal 15pt Arial;
}

section {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.438);
    text-align: center;
}

form {
    padding: 10px;
    margin: auto;
}

footer {
    color: white;
    text-align: center;
    font: normal 12pt Arial;
}