body {
    background-image: url("spaaace.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

main {
    background: #eeeeee;
    border-radius: 6px;
    display: flex;
    padding: 25px 45px;
    width: 600px;
    margin: auto;
    text-align: justify;
}

section {
    padding-left: 20px;
    margin: 20px;
    padding-top: 20px;
}

input {
    border: 1px solid white;       
    background-color: white;            
    border-radius: 5px; 
    padding: 5px 20px;
    margin: 5px 0px; 
    outline: 0px;
}

/*input:focus {
    background-color: white;
    color: black;
    border-bottom: 1px solid rgba(97, 45, 97, 0.596);
} */

button {
    color: white;
    border: rgb(97, 45, 97);
    border-radius: 5px;
    background-color: rgb(97, 45, 97);
    padding: 5px 10px;
    margin: 5px 0px;
}

#resposta {
    display: flex;
    border: 1px solid white;
    background-color: white;
    color: black;
    text-align: justify;
    border-radius: 5px;
    margin: 5px 0px;
    padding: 30px 20px;
}
